@media (max-width: 992px) {
  #burger {
    display: flex;
  }
  nav > ul {
    display: none;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  header {
    align-items: center;
    padding: 40px 24px 0 24px;
  }
  .top {
    flex-direction: column-reverse;
    align-items: end;
    padding-left: 24px;
    margin-top: 29px;
  }
  .top-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }
  .top > img {
    width: 327px;
  }
  .top-left > h1 {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -1.05;
    margin-top: 37px;
  }
  .top-left > p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 32px;
  }
  form {
    flex-direction: column;
    padding: 24px;
  }
  #search {
    width: 279px;
    padding: 6px 16px;
  }
  #search-btn {
    padding: 11px 91px;
  }
  .cards {
    flex-direction: column;
    text-align: center;
  }
  .card {
    text-align: center;
  }

  .circle {
    left: 50%;
    transform: translate(-50%);
  }
  .bot {
    padding: 90px 0;
  }

  .bot > h2 {
    font-size: 28px;
    letter-spacing: -0.7px;
    margin-bottom: 16px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    padding: 65px 0;
  }

  .footer-nav {
    margin-top: 50px;
    margin-bottom: 46px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
