@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  padding: 55px 165px 0 165px;
  gap: 45px;
 
}
 
nav{width: 100%;}
nav>ul{
    display: flex;
    justify-content: space-between;
    list-style: none; 
    
}

nav>ul>.left{
    display: flex;
    gap: 29px;
}
nav>ul>.right{
    display: flex;
    gap: 37px;
}
nav>ul>.left>li>a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
  color: #9E9AA8;
}
nav>ul>.right>li>a{
    text-decoration: none;
      font-size: 15px;
    font-weight: 700;
    color: #9E9AA8;
}
.sign-up{
padding: 9px 24px;
background-color: #2BD0D0;
border-radius: 28px;
color: #FFF !important;
text-decoration: none;
font-weight: 700;
}
#burger{
    display: none;
}
.top{
    margin-top: 78px;
    padding-left: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.top-left>p{
   margin-top: 5px;
   margin-bottom: 38px; 
   font-size: 22px;
   font-weight: 500;
   color: #9E9AA8;
   line-height: 36px;

}
.top-left{
    max-width: 565px;
}
.top-left>h1{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 90px;
    color:#34313D;
}